
<footer>
<div class="f-info fixed-bottom ">
    <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
    </div>
    
    <div class="f-info-brand">&copy; Cakeverse Private Limited  Privacy - Return Policy - Terms of Service - Accessibility</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/term">Terms</a>
    </div>
</div>
</footer>