<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Cake</h3>
    <form 
      method="POST" 
      action="/cakes" 
      novalidate 
      class="needs-validation" 
      enctype="multipart/form-data"
    >
      <!-- Name -->
      <div class="mb-3">
        <label for="name" class="form-label">Enter name</label>
        <input name="cake[name]" type="text" class="form-control" required />
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="cake[description]" class="form-control" required></textarea>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label"> Upload Cake Image </label>
        <input 
          name="cake[image]" 
          type="file"
          class="form-control"
        />
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input name="cake[price]" type="number" class="form-control" required />
      </div>

      <!-- Brand -->
      <div class="mb-3">
        <label for="brand" class="form-label">Enter brand</label>
        <input name="cake[brand]" type="text" class="form-control" required />
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
  </div>
</div>
